<script> document.title = `Trang chủ - ${document.title}`; </script>

<link rel='stylesheet' href='/assets/frontend/css/homepage-style.css' />

<!-- BEGIN: PAGE CONTAINER -->
<div class='c-layout-page'>
    <!-- BEGIN: PAGE CONTENT -->
    <div class='c-content-box'>
        <div id='slider' class='owl-theme section section-cate slideshow_full_width'>
            <div id='slide_banner' class='owl-carousel'>
                <div class='item'>
                    <a href='/' alt='banner chung'>
                        <img src='/img/slide-banner.jpg' alt='banner chung' />
                    </a>
                </div>

                <div class='item'>
                    <a href='/' alt='nitvn2'>
                        <img src='/img/slide-banner-2.jpg' alt='nitvn2' />
                    </a>
                </div>

                <div class='item'>
                    <a href='/' alt='nitvn3'>
                        <img src='/img/slide-banner-3.jpg' alt='nitvn3' />
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class='c-content-box c-size-md c-bg-white'>
        <div class='container'>
            <!-- Begin: Testimonals 1 component -->
            <div class='c-content-client-logos-slider-1 c-bordered' data-slider='owl'>
                <!-- Begin: Title 1 component -->
                <div class='c-content-title-1'>
                    <h3 class='c-center c-font-uppercase c-font-bold'>Dịch vụ nổi bật</h3>
                    <div class='c-line-center c-theme-bg'></div>
                </div>
                <div
                    class='owl-carousel owl-theme c-theme owl-bordered1 c-owl-nav-center'
                    data-items='6'
                    data-desktop-items='4'
                    data-desktop-small-items='3'
                    data-tablet-items='3'
                    data-mobile-items='2'
                    data-slide-speed='5000'
                    data-rtl='false'
                >

                    <div class='item'>
                        <a href='/user/thong-tin-tai-khoan'><img
                                src='/img/90rx4f9oeG_1623147714.jpg'
                                alt='Trang cá nhân nickvn'
                            /></a>
                    </div>

                    <div class='item'>
                        <a href='#'><img
                                src='/img/vHPm7XyQah_1623147701.jpg'
                                alt='dịch vụ nickvn'
                            /></a>
                    </div>

                    <div class='item'>
                        <a asp-action='TheNap' asp-controller='User' target='_blank'><img
                                src='/img/uJytL3ULdn_1623147751.jpg'
                                alt='Mua thẻ cào'
                            /></a>
                    </div>

                    <div class='item'>
                        <a asp-action='NapThe' asp-controller='User'><img
                                src='/img/i7QQlLPxod_1624873611.jpg'
                                alt='nạp tiền'
                            /></a>
                    </div>
                </div>
                <!-- End-->
            </div>
            <!-- End-->
        </div>
    </div>
    <div class='c-content-box c-size-md c-bg-white'>
        <div class='container'>
            <!-- Begin: Testimonals 1 component -->
            <div class='c-content-client-logos-slider-1 c-bordered' data-slider='owl'>
                <!-- Begin: Title 1 component -->
                <div class='c-content-title-1'>
                    <h3 class='c-center c-font-uppercase c-font-bold'>Danh mục game</h3>
                    <div class='c-line-center c-theme-bg'></div>
                </div>
                <div class='row row-flex-safari game-list'>

                    {{#each categories}}
                        <div class='col-sm-3 col-6 p-5'>
                            <div class='classWithPad'>
                                <div class='news_image'>
                                    <img
                                        style='position: absolute;max-width: 79px;height: auto;top: -5px;right: -6px;z-index: 1122;'
                                        src='img/sale-off-30.png'
                                    />
                                    <a href='{{this.slug}}' title='{{this.category_name}}' class=''>
                                        <img src='{{this.img}}' alt='{{this.img}}' /></a>
                                </div>
                                <div class='news_title'>
                                    <h2>
                                        <a
                                            href='{{this.slug}}'
                                            title='{{this.category_name}}'
                                        >{{this.category_name}}</a>
                                    </h2>

                                </div>
                                <div class='news_description'>
                                    <p>
                                        Số tài khoản:
                                        {{this.total}}
                                    </p>
                                    <!-- <p>
                                                    Đã bán: 198
                                                </p> -->
                                </div>
                                <div class='a-more'>
                                    <div class='row'>
                                        <div class='col-xs-12'>
                                            <div class='custom72 view'>
                                                <a
                                                    href='{{this.slug}}'
                                                    class=''
                                                    title='@cate.Title'
                                                >
                                                    &nbsp;
                                                    <style type='text/css'>
                                                        .custom72 { border: none !important;
                                                        padding: 0; } .custom72 a { background-size:
                                                        136px 35px; background-repeat: no-repeat;
                                                        border: none; margin: 0 auto; width: 136px;
                                                        height: 35px; background:
                                                        url(/img/mua-ngay.jpg); } .custom72 a:hover
                                                        { background-size: 136px 35px;
                                                        background-repeat: no-repeat; border: none;
                                                        margin: 0 auto; width: 136px; height: 35px;
                                                        background: url(/img/mua-ngay.jpg); filter:
                                                        saturate(2); filter: brightness(130%); }
                                                    </style>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    {{/each}}

                    <!-- End-->
                </div>
                <!-- End-->
            </div>
        </div>

        <!-- END: PAGE CONTENT -->
    </div>

    <div
        class='modal fade'
        id='noticeModal'
        role='dialog'
        style='display: none;'
        aria-hidden='true'
    >
        <div class='modal-dialog' role='document'>
            <div class='loader' style='text-align: center'><img
                    src='/assets/frontend/images/loader.gif'
                    style='width: 50px;height: 50px;display: none'
                /></div>
            <div class='modal-content'>

            </div>
        </div>
    </div>
</div>

<div class='modal fade' id='LoadModal' role='dialog' style='display: none;' aria-hidden='true'>
    <div class='modal-dialog' role='document'>
        <div class='loader' style='text-align: center'><img
                src='/assets/frontend/images/loader.gif'
                style='width: 50px;height: 50px;display: none'
            /></div>
        <div class='modal-content'>
        </div>
    </div>
</div>

<!-- END: PAGE CONTAINER -->