<script>
    document.title = `Acc liên minh huyền thoại - ${document.title}`;
</script>

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: PAGE CONTENT -->

    {{#if sessionFlash.success}}
    <div class="modal fade" id="successModal" role="dialog" style="display: block;" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true'>×</span>
                    </button>
                    <h4 class='modal-title'>Thông báo</h4>
                </div>
                <div class="modal-body text-success">{{sessionFlash.success}}</div>
                <div class="modal-footer">
                    <button type="button" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold c-bg-green-4"
                        data-dismiss="modal">Xác nhận</button>
                    <button type="button"
                        class="btn c-theme-btn c-btn-border-2x c-btn-square c-btn-bold c-btn-uppercase"
                        data-dismiss="modal">Đóng</button>
                </div>

            </div>
        </div>
    </div>
    <script>
        var a = $('#successModal');
        a.ready(function () {
            a.modal('show');
        }); 
    </script>

    {{else if sessionFlash.error}}
    <div class="modal fade" id="errorModal" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true'>×</span>
                    </button>
                    <h4 class='modal-title'>Thông báo</h4>
                </div>

                <div class="modal-body text-danger">{{sessionFlash.error}}</div>
                <div class="modal-footer">
                    <button type="button" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold c-bg-red-4"
                        data-dismiss="modal">Xác nhận</button>
                    <button type="button"
                        class="btn c-theme-btn c-btn-border-2x c-btn-square c-btn-bold c-btn-uppercase"
                        data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        var a = $('#errorModal');
        a.ready(function () {
            a.modal('show');
        });
    </script>
    {{/if}}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info box-text hidetext" role="alert">
                    <h1 class="alert-heading" style="color:#000">Liên minh</h1>
                    <p>
                    <ul>
                        <li>Game <strong><a href="https://lienminh.garena.vn/" target="_blank"><span
                                        style="color:#e74c3c">LIÊN MINH HUYỀN THOẠI</span></a></strong>&nbsp;thuộc
                            thể loại game mobile nhập do <a href="https://www.garena.vn/" target="_blank"><span
                                    style="color:#e74c3c"><strong>GARENA</strong></span></a>&nbsp;độc quyền phát
                            hành tại Việt Nam.</li>
                        <li><a href="#" target="_blank"><strong>Web Mua Bán Nick
                                    LIÊN MINH UY TÍN - GIÁ RẺ</strong></a>&nbsp;&nbsp;<strong><a href="#"
                                    target="_blank"><span style="color:#e74c3c">GIANG.CF</span></a> ( Website mua
                                bán nick liên quân - LMHT lớn nhất Việt Nam )&nbsp;</strong>.&nbsp;<strong><a href="#"
                                    target="_blank">Shop bán acc -
                                    tài khoản LMHT VIP</a></strong>.&nbsp;
                        </li>
                        <li>Ngoài <strong>mua bán nick lq</strong> website còn <strong><a href="#" target="_blank"><span
                                        style="color:#e74c3c">bán thẻ
                                        Garena</span></a></strong><span style="color:#e74c3c"> ,</span><strong><a
                                    href="#" target="_blank"><span style="color:#e74c3c">Bán RP liên minh
                                        giá;
                                        rẻ</span></a></strong><span style="color:#e74c3c">,</span><a href="#"
                                target="_blank"><span style="color:#e74c3c"> <strong>bán acc liên minh
                                        random</strong></span></a>&nbsp;và rất nhiều dịch vụ khác về
                            <strong><a href="#" target="_blank">game LQM</a></strong>
                        </li>
                    </ul>
                    </p>
                </div>

                <div style="text-align: center;margin: 15px 0">
                    <span class="viewmore">Xem tất cả »</span>
                </div>

            </div>
        </div>
        <div class="row hidden-xs hidden-sm" style="margin-bottom: 15px">
            <div class="m-l-10 m-r-10">
                <form action="" class="form-inline m-b-10" role="form" method="get">
                    <input type="hidden" name="_sort">

                    <div class="col-md-3 col-sm-4 p-5 field-search">
                        <div class="input-group c-square">
                            <span class="input-group-addon">Tìm kiếm</span>
                            <input type="text" class="form-control c-square" value='' placeholder="Tìm kiếm"
                                name="search_key">
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 p-5 field-search">
                        <div class="input-group c-square">
                            <span class="input-group-addon">Mã số</span>
                            <input type="number" class="form-control c-square" value='' placeholder="Mã số"
                                name="product_id">

                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12  p-5 field-search">
                        <div class="input-group c-square">
                            <span class="input-group-addon">Giá tiền</span>
                            <select class="form-control c-square" name="price">
                                <option value="">Chọn giá tiền</option>
                                <option value=1>Dưới 50K</option>
                                <option value=2>Từ 50K - 200K</option>
                                <option value=3>Từ 200K - 500K</option>
                                <option value=4>Từ 500K - 1 Triệu</option>
                                <option value=5>Trên 1 Triệu</option>
                                <option value=6>Trên 5 Triệu</option>
                                <option value=7>Trên 10 Triệu</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 p-5 field-search">
                        <div class="input-group c-square">
                            <span class="input-group-addon">Sắp xếp</span>
                            <select class="form-control c-square" name="sort_price">
                                <option value="asc">Giá tăng dần</option>
                                <option value="desc">Giá giảm dần</option>
                            </select>

                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 p-5 no-radius">
                        <button type="submit" class="btn c-square c-theme c-btn-green">Tìm kiếm</button>
                        <a class="btn c-square m-l-0 btn-danger" href="?">Tất
                            cả</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="filter-product-mobile hidden-md hidden-lg">
            <div class="filter-left form-group">
            </div>
            <div class="filter-right form-group">
                <a class="btn btn-success" style="display: block">
                    Tìm kiếm
                </a>
            </div>
            <div id="togger-filter"></div>
        </div>

        <div class="form-filter-right hidden-md hidden-lg">
            <div class="form-filter-content-mobile">
                <div class="list-product-left">
                    <div class="category-left">
                        <div class="title-product mb-4">
                            <span class="c-theme-link close-popup">×</span>
                            <h2 style="font-size: 16px;text-align: center">Tìm kiếm </h2>
                        </div>
                        <div class="category-list-product">

                        </div>
                    </div>
                    <hr>
                    <div class="search-list-product">
                        <form class="form-inline m-b-10" action="" role="form" method="get">
                            <input type="hidden" name="_sort">
                            <div class="col-md-3 col-sm-4 p-5 field-search">
                                <div class="input-group c-square">
                                    <span class="input-group-addon">Tìm kiếm</span>
                                    <input type="text" class="form-control c-square" value="" placeholder="Tìm kiếm"
                                        name="search_key">

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 p-5 field-search">
                                <div class="input-group c-square">
                                    <span class="input-group-addon">Mã số</span>
                                    <input type="text" class="form-control c-square" value="" placeholder="Mã số"
                                        name="product_id">

                                </div>
                            </div>

                            <div class="col-md-3 col-sm-4 col-xs-12 p-5 field-search">
                                <div class="input-group c-square">
                                    <span class="input-group-addon">Giá tiền</span>
                                    <select style="" class="form-control c-square" name="price">
                                        <option value="">Chọn giá tiền</option>
                                        <option value=1>Dưới 50K</option>
                                        <option value=2>Từ 50K - 200K</option>
                                        <option value=3>Từ 200K - 500K</option>
                                        <option value=4>Từ 500K - 1 Triệu</option>
                                        <option value=5>Trên 1 Triệu</option>
                                        <option value=6>Trên 5 Triệu</option>
                                        <option value=7>Trên 10 Triệu</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-4 p-5 field-search">
                                <div class="input-group c-square">
                                    <span class="input-group-addon">Sắp xếp</span>
                                    <select class="form-control c-square" name="sort_price">
                                        <option value="asc">Giá tăng dần</option>
                                        <option value="desc">Giá giảm dần</option>
                                    </select>
                                </div>
                            </div>

                            {{!-- <div class="col-md-3 col-sm-4 col-xs-12 p-5 field-search">
                                <div class="input-group c-square">
                                    <span class="input-group-addon">Rank</span>
                                    <select name="attribute_id_392" class="form-control c-square"
                                        title="-- Không chọn --">
                                        <option value="">-- Không chọn --</option>
                                        <option value="396">Chưa Rank</option>
                                        <option value="397">Đồng</option>
                                        <option value="398">Bạc</option>
                                        <option value="399">Vàng</option>
                                        <option value="400">Bạch Kim</option>
                                        <option value="401">Kim Cương</option>
                                        <option value="402">Cao Thủ</option>
                                        <option value="1309">Rank Thách Đấu</option>
                                    </select>
                                </div>
                            </div> --}}

                            {{!-- <div class="col-md-3 col-sm-4 col-xs-12 p-5 field-search">
                                <div class="input-group c-square">
                                    <span class="input-group-addon">Trạng Thái</span>
                                    <select name="attribute_id_976" class="form-control c-square"
                                        title="-- Không chọn --">
                                        <option value="">-- Không chọn --</option>
                                        <option value="977">Trắng thông tin</option>
                                        <option value="978">SĐT Đổi + Trắng Mail</option>
                                        <option value="979">SĐT Đổi + Gửi Mail</option>
                                        <option value="980">Trắng SĐT + Gửi Mail</option>
                                    </select>
                                </div>
                            </div> --}}

                            <div class="col-md-3 col-sm-4 p-5 no-radius">
                                <button type="submit" class="btn c-square c-theme c-btn-green"
                                    style="margin-right: 15px;margin-top: 15px">Tìm kiếm</button>
                                <a class="btn c-square m-l-0 btn-danger" asp-action="LienMinh" asp-controller="ShopAcc"
                                    style="margin-top: 15px">Tất cả</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <style>
            .form-filter-right {

                position: fixed;
                top: 0;
                right: -300px;
                width: 300px;
                height: 100%;
                background: #fff;
                color: #444;
                z-index: 10;
                transition: 400ms ease;
                overflow-y: scroll;
                transform: translateX(0px);
                z-index: 10000;
            }

            .form-filter-right.open {
                display: unset;
                height: 100%;
                transform: translateX(-300px);

            }

            #togger-filter {
                visibility: hidden;
                background-color: #000000bf;
                z-index: 1;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                overflow: hidden;
                position: fixed;
                z-index: 9999;
            }

            #togger-filter.active {
                transition: 0.4s;
                visibility: visible;
                cursor: pointer;

            }

            .form-filter-content-mobile {
                padding: 15px;
            }

            .close-popup {
                color: #818e9a;
                font-size: 36px;
                left: 11px;
                top: 7px;
                position: absolute;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            }
        </style>
        <script>

            $('.filter-right').click(function () {
                $('.form-filter-right').toggleClass('open');
                $("#togger-filter").toggleClass("active");
            });
            $('#togger-filter').click(function (e) {
                $("#togger-filter").removeClass("active");
                $('.form-filter-right').removeClass('open');
            });

            $('#togger-filter').click(function (e) {
                $("#togger-filter").removeClass("active");
                $('.form-filter-right').removeClass('open');
            });
            $('.form-filter-right .close-popup').click(function (e) {
                $("#togger-filter").removeClass("active");
                $('.form-filter-right').removeClass('open');
            });

        </script>

        <div class="row row-flex item-list">

            {{!-- <div class="col-sm-12" style="text-align: center;margin: 15px 0;">
                <h3 style="color: red;">Không có dữ liệu</h3>
            </div> --}}
            {{#if lienminhs}}
            {{#each lienminhs}}

            <div class="col-sm-6 col-md-3">
                <div class="classWithPad">
                    <div class="image">
                        <a href='/lien-minh/acc-lien-minh/{{this.product_id}}'>
                            <!-- <a href="/acc/467183"> -->
                            <img src="{{img.[0]}}" alt="{{img.[0]}}">
                            <span class="ms">MS: {{this.product_id}}</span>
                        </a>

                    </div>
                    <div class="description">

                    </div>
                    <div class="attribute_info">
                        <div class="row">

                            <div class="col-xs-6 a_att">
                                Tướng: <b>{{this.champ}}</b>
                            </div>

                            <div class="col-xs-6 a_att">
                                Skin: <b>{{this.skin}}</b>
                            </div>

                            <div class="col-xs-6 a_att">
                                Bảng Ngọc: <b></b>
                            </div>

                            <div class="col-xs-6 a_att">
                                Rank: <b>{{this.rank}}</b>
                            </div>
                        </div>
                    </div>
                    <div class="a-more">
                        <div class="row">
                            <div class="col-xs-6" style="width: 58%;">
                                <div class="price_item">{{vndCurrency this.price}}</div>
                            </div>
                            <div class="col-xs-6" style="width: 42%;">
                                <div class="view">
                                    <a href='/lien-minh/acc-lien-minh/{{this.product_id}}'>Chi
                                        tiết</a>
                                    <!-- <a href="/acc/467183">Chi tiết</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{/each}}
            {{else}}
            <div class="col-sm-12" style="text-align: center;margin: 15px 0;">
                <h3 style="color: red;">Không có dữ liệu</h3>
            </div>
            {{/if}}

        </div>

        {{!-- Pagination section: START --}}
        <nav aria-label="Page navigation" class="text-right">
            <ul class="pagination">

                {{#paginate pagination type="previous"}}
                <li {{#if disabled}}class="disabled" {{/if}}><a class="paginate-link" href="?page={{n}}">&lsaquo;</a>
                </li>
                {{/paginate}}
                {{#paginate pagination type="middle" limit="7"}}
                <li {{#if active}}class="active" {{/if}}><a class="paginate-link" href="?page={{n}}">{{n}}</a></li>
                {{/paginate}}
                {{#paginate pagination type="next"}}
                <li {{#if disabled}}class="disabled" {{/if}}><a class="paginate-link" href="?page={{n}}">&rsaquo;</a>
                </li>
                {{/paginate}}

            </ul>
        </nav>
        {{!-- Pagination section: END --}}

        <div class="tab-vertical tutorial_area">
            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="">Dịch vụ game khác <i
                                    class="fa-regular fa-flag"></i></a>
                        </h5>
                    </div>
                    <div id="tab1" class="panel-collapse collapse in" aria-expanded="true" style="">
                        <div class="panel-body">
                            <p>Ngoài&nbsp; <strong>shop bán acc liên minh&nbsp;</strong>Shop
                                còn có; các dịch vụ khác như <strong><a href="#" target="_blank">mua bán RP
                                        liên minh giá rẻ</a></strong><strong>&nbsp;,<span style="color:#e74c3c"><a
                                            href="#">bán thẻ
                                            garena</a> giá&nbsp; rẻ và hơn 40 dịch vụ game
                                        khác</span></strong> tại&nbsp;<strong><a href="#"
                                        target="_blank">https://giang.cf</a>&nbsp;(<a href="#"
                                        target="_blank">click</a>)</strong></p>

                            <p><strong>Link bán RP liên minh</strong>&nbsp;:&nbsp;<strong><a href="#"
                                        target="_blank">https://giang.cf</a>&nbsp;(<a href="#"
                                        target="_blank">click</a>)</strong></p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="">Group - fanpage cộng đồng
                                <i class="fa-regular fa-flag"></i></a>
                        </h5>
                    </div>
                    <div id="tab1" class="panel-collapse collapse in" aria-expanded="true" style="">
                        <div class="panel-body">
                            <p>Mình có; tạo group về liên quân&nbsp;để anh em giao lưu. Ae ấn
                                tham gia group và like page nhé</p>

                            <p>Link :&nbsp;<a href="#" target="_blank">#</a></p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="">Shop bán nick liên minh UY TÍN -
                                GIÁ RẺ <i class="fa-regular fa-flag"></i></a>
                        </h5>
                    </div>
                    <div id="tab1" class="panel-collapse collapse in" aria-expanded="true" style="">
                        <div class="panel-body">
                            <p><strong>Shop bán nick liên minh huyền thoại </strong>với nhiều lựa chọn
                                phong phú, quý khách có thể tìm kiếm theo:</p>
                            <p>- Nick liên minh có; skin hiếm</p>
                            <p>- Nick liên minh game random&nbsp;</p>
                            <p>- Nick liên minh giá rẻ</p>
                            <p>- Acc liên minh&nbsp; rank cao thủ , thách đấu.</p>
                            <p>- Tài khoản liên minh có; nhiều tướng</p>
                            <p>- Tài khoản lm có; nhiều trang phục</p>
                            <p>-&nbsp;Acc liên minh trang phục - skin Siêu Việt</p>
                            <p>- Nick liên minh bản thử nghiệm</p>
                            <p>- Acc liên minh full tướng full skin&nbsp;</p>
                            <p>- Acc liên minh 9k</p>
                            <p>- Nick liên minh full ngọc</p>
                            <p>- Nick liên minh giá rẻ 20k</p>
                            <p>- Acc liên minh ngọc 90</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="modal fade" id="LoadModal" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="loader" style="text-align: center"><img src="/assets/frontend/images/loader.gif"
                    style="width: 50px;height: 50px;display: none"></div>
            <div class="modal-content">
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.load-modal').each(function (index, elem) {
                $(elem).unbind().click(function (e) {
                    e.preventDefault();
                    e.preventDefault();
                    var curModal = $('#LoadModal');
                    curModal.find('.modal-content').html("<div class=\"loader\" style=\"text-align: center\"><img src=\"/assets/frontend/images/loader.gif\" style=\"width: 50px;height: 50px;\"></div>");
                    curModal.modal('show').find('.modal-content').load($(elem).attr('rel'));
                });
            });
        });
    </script>
    <script type="text/javascript">
        $('body').delegate('.viewmore', 'click', function () {

            $(this).addClass('viewless').removeClass('viewmore');
            $(this).text('« Thu gọn');
            $('.hidetext').addClass('showtext').removeClass('hidetext');
        })
        $('body').delegate('.viewless', 'click', function () {
            $(this).addClass('viewmore').removeClass('viewless');
            $(this).text('Xem tất cả »');
            $('.showtext').addClass('hidetext').removeClass('showtext');
        })

        $('body').delegate('.btn-viewmore', 'click', function () {
            var ele = $(this).closest('.panel-body').find(".special-text").toggleClass('-expanded');
            if ($(ele).hasClass('-expanded')) {
                $(this).html('« Thu gọn');
            } else {
                $(this).html('Xem tất cả »');

            }
        })

    </script>

    <!-- END: PAGE CONTENT -->
</div>

<div class="modal fade" id="noticeModal" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="loader" style="text-align: center"><img src="/assets/frontend/images/loader.gif"
                style="width: 50px;height: 50px;display: none"></div>
        <div class="modal-content">

        </div>
    </div>
</div>
</div>

<div class="modal fade" id="LoadModal" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="loader" style="text-align: center"><img src="/assets/frontend/images/loader.gif"
                style="width: 50px;height: 50px;display: none"></div>
        <div class="modal-content">
        </div>
    </div>
</div>


<script>
    getOptionSelected('price');
    getOptionSelected('sort_price');

    function getOptionSelected(pName) {
        let params = (new URL(document.location)).searchParams;
        let choose = params.get(pName);
        var select = document.getElementsByName(pName);
        var option;

        for (var j = 0; j < select.length; j++) {
            for (var i = 0; i < select[j].options.length; i++) {
                option = select[j].options[i];

                console.log("option: " + option)

                if (option.value == choose) {
                    option.setAttribute('selected', true);
                    break;
                }
            }
        }
    }
</script>

<script>
    $(document).ready(function () {
        $('.load-modal').each(function (index, elem) {
            $(elem).unbind().click(function (e) {
                e.preventDefault();
                e.preventDefault();
                var curModal = $('#LoadModal');
                curModal.find('.modal-content').html("<div class=\"loader\" style=\"text-align: center\"><img src=\"/assets/frontend/images/loader.gif\" style=\"width: 50px;height: 50px;\"></div>");
                curModal.modal('show').find('.modal-content').load($(elem).attr('rel'));
            });
        });
    });
</script>
<script src="/assets/frontend/js/searchAndPaginationQueryString.js"></script>

<!-- END: PAGE CONTAINER -->