<div class="container-fluid pt-4 px-4">

    <div class="row g-4 justify-content-md-center">

        <div class="col-sm-12 col-xl-8">
            <div class="bg-secondary rounded h-100 p-4">

                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </symbol>
                        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                        </symbol>
                        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </symbol>
                    </svg>
                    <div class="alert alert-success d-flex align-items-center" id="alert_success" role="alert" style="display: none!important;">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                            <use xlink:href="#check-circle-fill" />
                        </svg>
                    </div>
                    <div class="alert alert-danger d-flex align-items-center" id="alert_error" role="alert" style="display: none!important;">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                            <use xlink:href="#exclamation-triangle-fill" />
                        </svg>
                    </div>

                <h6 class="mb-4">{{category.category_name}}</h6>
                <dl class="row mb-0" id="content-editable">

                    <dt class="col-sm-4">Id</dt>
                    <dd class="col-sm-8" id="_id_category" disable-editable>
                        {{category._id}}
                    </dd>

                    <dt class="col-sm-4">Category Name</dt>
                    <dd class="col-sm-8" id="_category_name">{{category.category_name}}<i
                            class="fas fa-edit float-end"></i></dd>

                    <dt class="col-sm-4">Slug</dt>
                    <dd class="col-sm-8" id="_slug">{{category.slug}}<i class="fas fa-edit float-end"></i></dd>

                    <dt class="col-sm-4">Total</dt>
                    <dd class="col-sm-8" id="_total">{{category.total}}<i class="fas fa-edit float-end"></i></dd>

                    <dt class="col-sm-4">Visible</dt>
                    <do class="col-sm-8 text-capitalize" id="_visible">{{category.visible}}<i
                            class="fas fa-edit float-end"></i></do>

                    <dt class="col-sm-4 mt-3">Image</dt>
                    <di class="col-sm-8 mt-3" id="_img">
                        <a href="{{category.img}}" data-lightbox="image-avatar"
                            data-title="Cover" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="See avatar"><img src="{{category.img}}" alt="Avatar" class="image" class="w-100"></a>
                    
                    <div class='mb-3'>
                        <label for='gallery-photo-add' class='form-label'>Change new image</label>
                        <input
                            class='form-control bg-dark'
                            type='file'
                            accept='image/*'
                            name='img'
                            id='gallery-photo-add'
                            required
                        />
                        <div class='gallery row pt-2'></div>
                    </div>
                    </di>

                    <div class="d-flex justify-content-center">

                        <button type="submit" class="btn btn-success m-2"
                            onclick="submitSaveChanges('{{category._id}}')">Save</button>
                        {{!-- <a href="/admin/categories" class="btn btn-outline-light m-2">Edit</a> --}}

                        <!-- Button trigger modal -->
                        <a type="button" class="btn btn-outline-danger m-2" data-bs-toggle="modal"
                            data-bs-target="#DeleteCategoryPopup">
                            Delete
                        </a>
                        <!-- Modal -->
                        <div class="modal fade" id="DeleteCategoryPopup" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-secondary" id="exampleModalLabel">Confirmation to
                                            delete?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure to delete this Category?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button class="btn btn-danger text-white" data-bs-dismiss="modal">Delete
                                            Category</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal End -->

                    </div>
                </dl>
            </div>
        </div>

        {{!-- <div class="col-sm-12 col-xl-8">
            <div class="bg-secondary rounded h-100 p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-4">Categories Table</h6>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped" id="table">
                        <thead>
                            <tr>
                                <th scope="col">Category ID</th>
                                <th scope="col">Category Name</th>
                                <th scope="col">Action</th>
                                <th scope="col">Img</th>
                                <th scope="col">Total</th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                            var productByCateId = ViewBag.productByCateId;
                            List<ProductCategory> productCate = (List<ProductCategory>)productByCateId;

                                    foreach (var item in productCate)
                                    {
                                    <tr>
                                        <th scope="row">@item.CategoryId</th>
                                        <td>@item.CategoryName</td>
                                        <td>@item.Action</td>
                                        <td>@item.ImgSrc</td>
                                        <td>@item.Total</td>
                                        <td>@Html.ActionLink("Details", "DetailCategory", new { id = item.CategoryId },
                                            new {
                                            @class
                                            = "text-info"})</td>
                                        <td>@Html.ActionLink("Edit", "EditCategory", new { id = item.CategoryId }, new {
                                            @class
                                            =
                                            "text-light"})</td>
                                        <td>@Html.ActionLink("Delete", "DeleteCategory", new { id = item.CategoryId },
                                            new {
                                            @class
                                            = "text-danger"})</td>
                                    </tr>
                                    }
                                    }
                        </tbody>
                    </table>
                </div>
            </div>
        </div> --}}
    </div>
</div>